EVOLUTION_API_KEY=sua_chave_api_segura
EVOLUTION_API_SECRET=seu_segredo_api_seguro
N8N_WEBHOOK_URL=http://seu_ip_vps:5678

POSTGRES_DB=automacao_loja_descartaveis
POSTGRES_USER=user
POSTGRES_PASSWORD=password

N8N_HOST=localhost
GENERIC_TIMEZONE=America/Sao_Paulo
N8N_USERNAME=n8n_user
N8N_PASSWORD=n8n_password_segura
N8N_ENCRYPTION_KEY=chave_de_criptografia_segura_n8n

OPENAI_API_KEY=sua_chave_openai
